In [1]:
import pandas as pd
pd.read_csv('data.csv')

          DATE  TOTAL_USERS          UURS    PROTECTED  PROTECTED_UURS
0   2018-01-01  200000.0000  100000.00000  50000.00000     40000.00000
1   2018-01-02  204773.7102   98006.46169  48526.42653     41121.58185
2   2018-01-03  202880.7131  100819.98700  47629.81575     42987.59538
3   2018-01-04  207816.1361  100732.54390  47070.41586     45458.02254
4   2018-01-05  201393.2096  104722.56020  48452.52935     44382.10735
5   2018-01-06  205875.3260  108162.40540  46913.97579     43121.63548
6   2018-01-07  202554.7897  112263.58660  47973.20311     45543.33628
7   2018-01-08  201613.5571  115980.90860  46511.35091     48059.39705
8   2018-01-09  212911.3700  116986.97300  49049.68528     49840.45658
9   2018-01-10  219612.9938  119389.23450  49712.77475     50615.27699
10  2018-01-11  226570.9696  124649.26670  49198.92396     49808.58372
11  2018-01-12  236245.8392  119690.86780  48762.52168     49932.05183
12  2018-01-13  245861.7938  115590.80080  48122.64217     51910.63310
13  2018-01-14  246900.1984  118296.11380  47364.67611     50250.65232
14  2018-01-15  238802.1152  125285.61270  45740.47952     51179.32090
15  2018-01-16  244334.3055  121287.08940  45188.96562     52634.13447
16  2018-01-17  244144.3787  123079.00200  43498.94390     55775.83005
17  2018-01-18  236181.4516  122698.40220  45443.09933     56837.77060
18  2018-01-19  248084.3932  122542.57720  47807.25748     56147.73380
19  2018-01-20  250400.1081  119536.19720  49099.04991     59300.82521
20  2018-01-21  243153.7131  119043.18850  50619.06955     56957.16077
21  2018-01-22  234666.6072  121333.91900  52126.54264     59538.74520
22  2018-01-23  232657.7127  121156.14180  51637.08438     59735.87204
23  2018-01-24  240478.5072  119021.51710  54658.49237     59769.93994
24  2018-01-25  231935.8877  123203.94730  55981.46823     57428.16976
25  2018-01-26  224109.3742  124005.60430  57388.06138     55360.80793
26  2018-01-27  224305.4827  131440.76750  59951.04367     56111.59915
27  2018-01-28  229179.4730  133121.16110  59188.40970     58369.06128
28  2018-01-29  232373.3519  139715.35470  59839.25143     60674.86179
29  2018-01-30  229233.2480  146061.98260  59406.11128     59770.11340
30  2018-01-31  233078.2465  142638.96170  58650.36627     61038.96851
31  2018-02-01  225071.7957  142616.59290  59543.14235     61835.22684
32  2018-02-02  233957.1659  150728.87850  58528.20123     63440.97619
33  2018-02-03  228003.5722  149773.58560  58092.69199     64255.73246
34  2018-02-04  241413.7831  148319.01610  60903.71225     64925.40486
35  2018-02-05  238031.7804  142947.28430  61166.17178     64000.23213
36  2018-02-06  251845.2317  148794.89720  62660.56453     65748.72718
37  2018-02-07  255176.5266  148453.26260  65753.46013     68767.45610
38  2018-02-08  270319.3778  152576.88530  63771.40667     71220.72402

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
               '2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05',
               '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-10', '2018-02-11', '2018-02-12', '2018-02-13',
               '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17',
               '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21',
               '2018-02-22', '2018-02-23', '2018-02-24', '2018-02-25',
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-03', '2018-03-04', '2018-03-05',
               '2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
               '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
               '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01'],
              dtype='datetime64[ns]', freq='D')